@import "resolutions";
@import "fonts";
@import "colors";

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  div{
    div{
      width: 100%;
      ul{
        padding: 0;
        margin: 0;
        color: $color-text;
      }
    }
  }
}

.c1{
  background-color: $color-1;
}

.c2{
  background-color: $color-2;
}

div{
  display: inline-block;
}

.tc{
  color: $color-text;
}
