@import "resolutions";
@import "fonts";
@import "colors";

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  div{
    div.col-3{
      box-sizing: border-box;
      float: left;
      ul{
        padding: 0;
        margin: 0;
        color: $color-text;
        li{
          padding: 5px;
          margin: 10px 0;
        }
      }
    }
  }
}

.c1{
  background-color: $color-1;
}

.c2{
  background-color: $color-2;
}

div{
  display: inline-block;
}

.tc{
  color: $color-text;
}

.center{
  text-align: center;
}
